<h1>Il y {{n}} produits </h1>
<div *ngFor="let product of products">
    <p>Produit : {{ product.name }}</p>
    <div>
        <button class="btn btn-warning" (click)="addItem(product, -1)" [disabled]="product.qty === 0">-</button>
        <input type="text" value="0" size="2" [(ngModel)]="product.qty">
        <button class="btn btn-info" (click)="addItem(product, 1)">+</button>
    </div>
    <p class="badge">Qte : {{ product.qty }}</p>
</div>

Panier : <span class="badge badge-info">{{total_qty}}</span>

